<div class="container">
  <div class="form-group row">
    <div class="col">
      <h3 class="mt-2">新規講師登録</h3>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "teacher/shared/error_messages", resource: resource %>

    <!--<div class="form-group row">-->
    <!--  <label class="col">画像</label>-->
    <!--  <div class="col-9">-->
    <!--    <div class="row">-->
    <!--      <%#= f.file_field :image, accept: "image/*" %>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->

     <div class="form-group row">
      <label class="col">名前</label>
      <div class="col-9">
        <div class="row"><%= f.label :"(姓)" %>
          <%=f.text_field :last_name, autofocus: true,autocomplete:  "family-name", placeholder:"令和",class: "col-3"%>
          <div class="row offset-1 ml-2"><%= f.label :"(名)" %>
            <div class="col px-0"><%= f.text_field :first_name, autofocus: true, autocomplete: "given-name",placeholder:"道子",class: "col px-0"%></div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col">フリガナ</label>
      <div class="col-9">
        <div class="row"><%= f.label :"(セイ)" %>
          <%=f.text_field :last_name_kana, autofocus: true,autocomplete:  "family-name",placeholder:"レイワ",class: "fcol-3" %>
          <div class="row offset-1 ml-2"><%= f.label :"(メイ)" %>
            <div class="col px-0"><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "given-name",placeholder:"ミチコ",class: "col px-0" %></div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-3 mb-0 pr-0">メールアドレス</label>
      <div class="col-9">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
      </div>
    </div>


    <div class="form-group row">
      <label class="col-3 mb-0 pr-0">ひとこと</label>
      <div class="col-9">
          <%= f.text_field :word, autofocus: true, placeholder:"第一志望校合格目指して、みんなで頑張りましょう！" %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-3 mb-0 pr-0">電話番号(ハイフンなし)</label>
      <div class="col-9">
          <%= f.text_field :phone_number, autofocus: true, placeholder:"00000000" %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-3 mb-0 pr-0">ログインコード</label>
      <div class="col-9">
        <%= f.text_field :code, autofocus: true, autocomplete: "code", placeholder: "samplecode" %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-3 mb-0 pr-0">パスワード(<%= @minimum_password_length %> 文字以上)</label>
      <div class="col-9">
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-3 mb-0 pr-0">パスワード(確認用)</label>
      <div class="col-9">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <div class="container text-center mt-4">
    <div>
      <b class="font-weihgt-bold">既に登録済みの方</b>
      <br>
      <%= render "teacher/shared/links" %>
    </div>
  </div>
</div>