<div class='container mt-5'>
    <div class='row'>
      <h3 class="page-name">
          <strong>講師情報</strong>
      </h3>
    </div>

    <div class='row'>
        <div class="col-md-7">
            <table class="table table-bordered border-dark">
                <%= image_tag @teacher.get_image(100,100) %>
              <tr>
                <td bgcolor= "#F2F2F2", scope="col" style="width: 20%">氏名</td>
                <td>
                    <%= @teacher.last_name + @teacher.first_name %>
                </td>
              </tr>
              <tr>
                <td bgcolor= "#F2F2F2", scope="col" style="width: 20%">カナ</td>
                <td><%= @teacher.last_name_kana + @teacher.first_name_kana %></td>
              </tr>
              <tr>
                <td bgcolor= "#F2F2F2", scope="col" style="width: 20%">ひとこと</td>
                <td><%= @teacher.word %></td>
              </tr>

              <tr>
                <td bgcolor= "#F2F2F2", scope="col" style="width: 20%">電話番号</td>
                <td><%= @teacher.phone_number %></td>
              </tr>
              <tr>
                <td bgcolor= "#F2F2F2", scope="col" style="width: 30%">メールアドレス</td>
                <td><%= @teacher.email %></td>
              </tr>
               <tr>
                <td bgcolor= "#F2F2F2", scope="col" style="width: 20%">ログインコード</td>
                <td><%= @teacher.code %></td>
              </tr>
            </table>
        </div>
    </div>

</div>