
<h4 class="rooms-title">チャットルーム</h4>
  <div class="user-name">
  <strong>
    <%#= image_tag @student.avatar, class:"user-image" %>
      <!--<a class="rooms-user-link" href="/users/<%#= e.user.id %>">-->
        <%= @student.last_name %>さん
      <!--</a>-->
  </strong>
  </div>
<hr>
<div class="chats">
  <div class="chat">
    <% if @chats.present? %>
      <% @chats.each do |m| %>
        <div class="chat-box">
          <% if m.student_id%>
              <div class="chat-face">
                <%= image_tag m.student.get_image(100,100), class:"user-image" %>
              </div>
              <div class="chat-name">
                <strong><%= m.student.last_name %>さん</strong>
              </div>
          <% elsif m.parent_id%>
              <!--<div class="chat-face">-->
              <!--  <%#= image_tag m.student.get_image(100,100), class:"user-image" %>-->
              <!--</div>-->
              <div class="chat-name">
                <strong>保護者様</strong>
              </div>
          <% elsif m.admin_id%>
              <!--<div class="chat-face">-->
              <!--  <%#= image_tag m.student.get_image(100,100), class:"user-image" %>-->
              <!--</div>-->
              <div class="chat-name">
                <strong>室長</strong>
              </div>
          <% end %>
        </div>
        <div class="chat-hukidashi"> <strong><%= m.message %></strong> <br>
          <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="posts">
    <%= form_with model: @chat, url: admin_chats_path do |f| %>
      <%= f.text_field :message, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
        <%= f.hidden_field :chatroom_id, value: @chatroom.id %>
          <%= f.submit "投稿",class: 'form-submit'%>
    <% end %>
  </div>
</div>