<div class="container">
  <div class="form-group row">
    <div class="col">
      <h3 class="mt-2">授業報告詳細</h3>
    </div>
  </div>
    <div class="form-group row">
      <div class="col-8">
        <table class="table mt-4" style="width: 95%">
            <tr>
              <th class="thead-lignt bg-light" style="width: 25%">題名</th>
              <td><%= @report.title %></td>
            </tr>
            <tr>
              <th class="thead-lignt bg-light">報告書詳細</th>
              <td><%= @report.body %></td>
            </tr>
            <tr>
              <th class="thead-lignt bg-light">保護者より</th>
              <td><%= @report.comment %></td>
            </tr>
          </table>
        </div>

      <div class="col-4">
        <table class="table mt-4" style="width: 95%">
            <tr>
              <th class="thead-lignt bg-light" style="width: 35%">日付</th>
              <td><%= l @report.created_at, format: :v_short %></td>
            </tr>
            <tr>
              <th class="thead-lignt bg-light">教科</th>
              <td><%= @report.subject.subject_name %></td>
            </tr>
            <tr>
              <th class="thead-lignt bg-light">担当生徒</th>
              <td><%= @report.student.last_name %>さん</td>
            </tr>
        </table>

        <!--宿題についてのテーブル-->
        <table class="table mt-4" style="width: 95%">
          <thead class="thead-lignt bg-light">
            <tr>
              <th>日付</th>
              <th>宿題内容</th>
            </tr>
          </thead>
          <tbody>
            <% @homeworks.each do |homework| %>
              <tr>
                <td><%= homework.deadline %></td>
                <td><%= homework.task %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>



    </div>
    <%= link_to '編集する', edit_teacher_report_path(@report.id), class: "btn btn-outline-success" %></td>

</div>