<div>
  <%= flash[:notice] %>
</div>
<div class="container">

  <div class="form-group row">
    <div class="col">
      <h3 class="mt-2">チャットルーム</h3>
    </div>
  </div>
  <div class="user-name">
  <strong>
    <h5>
      <%= @student.last_name %>さん
    </h5>
  </strong>
  </div>
<hr>
<div class="chats">
  <div class="chat">
    <% if @chats.present? %>
      <% @chats.each do |m| %>
        <div class="chat-box">
          <% if m.student_id%>
              <div class="chat-name">
                <i class="fas fa-user-edit"></i>
                <strong><%= m.student.last_name %>さん</strong>
              </div>
          <% elsif m.parent_id%>
              <div class="chat-name">
                <i class="fas fa-smile"></i>
                <strong>保護者様</strong>
              </div>
          <% elsif m.admin_id%>
              <div class="chat-name">
                <i class="fas fa-school"></i>
                <strong>室長</strong>
              </div>
          <% end %>
        </div>
        <div class="chat-hukidashi mb-3"> <strong><%= m.message %></strong> <br>
          <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="posts">
    <%= form_with model: @chat, url: parent_chats_path do |f| %>
      <%= f.text_field :message, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
        <%= f.hidden_field :chatroom_id, value: @chatroom.id %>
          <%= f.submit "投稿",class: 'form-submit'%>
    <% end %>
  </div>
</div>