<div class="container">
  <div class="form-group row">
    <div class="col">
      <h3 class="mt-2">授業報告一覧</h3>
    </div>
  </div>
  <table class="table mt-4" style="width: 80%">
    <thead class="thead-lignt bg-light">
      <tr>
        <th>日付</th>
        <th>題名</th>
        <th>教科</th>
        <th>生徒名</th>
        <th>講師</th>
        <th>報告書詳細</th>
        <th>宿題</th>
      </tr>
    </thead>
    <tbody>
      <% if @reports.present? %>
        <% @reports.each do |report| %>
          <tr>
            <td><%= l report.created_at, format: :short %></td>
            <td><%= report.title %></td>
            <td><%= report.subject.subject_name %></td>
            <td><%= report.student.last_name %>さん</td>
            <td><%= report.teacher.last_name %></td>
            <td><%= link_to '表示する', admin_report_path(report.id), class: "btn btn-outline-success" %></td>
            <td><%= link_to '表示する', admin_homework_path(report.student_id), class: "btn btn-outline-success" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>



</div>