<div class="container">
  <div class="form-group row">
    <div class="col">
      <h3 class="mt-2">ログイン</h3>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group row">
      <div class="col-3 mb-0 pr-0">
        <%= f.label :code ,"ログインコード" %>
      </div>
      <div class="col-9">
        <%= f.text_field :code, autofocus: true, autocomplete: "code" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3 mb-0 pr-0">
      <%= f.label :password , "パスワード" %>
      </div>
      <div class="col-9">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>
  <div class="container mt-4">
    <div class="col-xs-offset-1">
      <%= f.submit "Log in" ,class: 'btn btn-outline-success' %>
    </div>
  </div>
  <% end %>

  <%= render "student/shared/links" %>
</div>
