<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-image: url(<%= asset_path('background2.jpg')%>); background-size: 80% ">
    <%= link_to image_tag('logo.image2.jpg', :size => '80x80'), root_path%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--ログイン-生徒-->
    <% if student_signed_in? %>
      <span class="navbar-brand mb-0 h1">ようこそ、<%= current_student.last_name %> さん!</span> <!--まだ名前のリンク入れてないよ。-->
    <!--ログイン-保護者-->
    <% elsif parent_signed_in? %>
      <!--ログインしている保護者の生徒と紐づけていない場合は「ようこそ！」と表示させる。-->
      <% if current_parent.students.first == nil %>
        <span class="navbar-brand mb-0 h1">ようこそ!</span>
      <% else %>
        <span class="navbar-brand mb-0 h1">ようこそ、<%= current_parent.students.first.last_name %> 様!</span> <!--まだ名前のリンク入れてないよ。-->
      <% end %>
    <!--ログイン-講師-->
    <% elsif teacher_signed_in? %>
      <span class="navbar-brand mb-0 h1">ようこそ、<%= current_teacher.last_name %> さん!</span> <!--まだ名前のリンク入れてないよ。-->
    <!--ログイン-管理者-->
    <% elsif admin_signed_in? %>
    <% end %>

    <!--メニュー内容-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <!--ログイン-生徒-->
        <% if student_signed_in? %>
        <li class="nav-item mr-2">
          <%= link_to student_reports_path, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          授業報告一覧
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to student_homework_path(current_student.id), class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          宿題一覧
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to student_chatroom_path(1), class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          チャット
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to student_teachers_path, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          講師一覧
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to my_page_student_students_path, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          マイページ
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to destroy_student_session_path, method: :delete, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          ログアウト
          <% end %>
        </li>

        <!--ログイン-保護者-->
        <% elsif parent_signed_in? %>
        <li class="nav-item mr-2">
          <%= link_to parent_reports_path, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          授業報告一覧
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to parent_homeworks_path, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          宿題一覧
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to parent_chatrooms_path, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          チャット
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to parent_teachers_path, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          講師一覧
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to my_page_parent_parents_path, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          マイページ
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to destroy_parent_session_path, method: :delete, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          ログアウト
          <% end %>
        </li>

        <!--ログイン-講師-->
        <% elsif teacher_signed_in? %>
        <li class="nav-item mr-2">
          <%= link_to teacher_reports_path, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          授業報告一覧
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to teacher_homeworks_path, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          宿題一覧
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to teacher_students_path, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          生徒一覧
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to my_page_teacher_teachers_path, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          マイページ
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to destroy_teacher_session_path, method: :delete, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          ログアウト
          <% end %>
        </li>

        <!--ログイン-管理者-->
        <% elsif admin_signed_in? %>
        <li class="nav-item mr-2">
          <%= link_to admin_reports_path, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          授業報告一覧
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to admin_students_path, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          生徒一覧
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to admin_teachers_path, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          講師一覧
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to admin_subjects_path, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          教科一覧
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to admin_chatrooms_path, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          チャット
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          ログアウト
          <% end %>
        </li>
        <% else %>
        <li class="nav-item mr-2">
          <%= link_to new_student_registration_path, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          生徒新規登録
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to new_parent_registration_path, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          保護者新規登録
          <% end %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to root_path, class: 'nav-link text-dark btn bg-light btn-outline-dark me-2 mt-1 mb-1' do %>
          ログイン
          <% end %>
        </li>
        <% end %>

      </ul>
      <!--ログイン-生徒-->
      <% if student_signed_in? %>
      <%= render 'student/search'%>
      <!--ログイン-保護者-->
      <% elsif parent_signed_in? %>
          <%= render 'parent/search'%>
      <!--ログイン-講師-->
      <% elsif teacher_signed_in? %>
          <%= render 'teacher/search'%>
      <!--ログイン-管理者-->
      <% elsif admin_signed_in? %>
          <%= render 'admin/search'%>
      <% else %>
      <% end %>


    </div>
  </nav>


</header>
